body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0a0a0a; /* noir encre profonde */
    font-family: 'Helvetica Neue', sans-serif;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 5%; /* déplacé vers le haut */
    width: 100%;
    text-align: center;
    color: white;
    pointer-events: none;
}

.text-overlay h1 {
    font-weight: 400;
    font-size: 3em;
    text-shadow: 0 0 20px #D3E8FF;
}

.text-overlay p {
    font-weight: 200;
    font-size: 1.2em;
    text-shadow: 0 0 10px #D3E8FF;
}


#enterBtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 2em;
    font-size: 1.2em;
    border: 2px solid #69D9FF;
    background: rgba(10,10,10,0.7);
    color: #D3E8FF;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 8px;
}
